<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartbus.heze">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_PROCESS_LIMIT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 因为拍照需要写入文件 所以需要申请读取内存的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 个推SDK权限配置开始 -->
    <!-- 必选权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 以下为可选权限 -->
    <!-- 支持iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 支持个推3.0 电子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 自定义权限 -->
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}" />

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal"/>
    <!-- 个推SDK权限配置结束 -->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_welcome"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_welcome"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/NoAction">

        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="B0O9oXBBg66K3mUnkI4J19" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="zV2KNaApn78PdHKtfUxZY5" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="djAXc4A43EAbkSJnOrkEA" />

        <!-- 配置SDK核心服务 -->
        <!-- permission属性在2.13.1.0版本后必须配置 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            android:label="NotificationCenter"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.service.message"/>
            </intent-filter>
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 以下三项为可选的action声明，有助于提高service存活率 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 个推SDK配置结束 -->
        <!--个推service-->
        <service
            android:name=".DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>
        <!-- android:permission在2.13.1.0版本后必须配置 -->
        <service
            android:name=".DemoIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.smartbus.heze.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".welcome.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome.activity.LoginActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".main.activity.MainActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".main.notice.activity.NoticeDetailActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".main.notice.activity.NoticeListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.FileMainActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.DepartBudgetActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.BorrowAccidentActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.DepartmentActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.CurrencyAccidentActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.HuiQianActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.WorkPersonActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.FileCirculateActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.DocumentLZActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.OaMainActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.UserdLeaveActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.AddWorkActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.DepartBudgetWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.BorrowAccidentWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.HuiQianWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.CurrencyAccidentWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.FileCirculateWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.DocumentLZWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.WorkOnePersonActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.OldWorkActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.AtWorkActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.CheckWorkActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.UserdLeaveWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.AddWorkWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.OldWorkWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.AtWorkWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oaflow.activity.CheckWorkWillActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activity.RCJCActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activity.SafeActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activity.CarCheckActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activity.HealthActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activitydata.LineCodeActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activitydata.CarCodeActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activitydata.UserCodeActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activitydata.CheckPersonActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".main.activity.ProcessActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fileapprove.activity.DepartmentMoreActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oasheet.OAPublishActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".oasheet.OaDetailActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activity_history.CarCheckHistoryActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activity_history.CarCheckHistoryDetActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activity_history.SaferHistoryActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activity_history.SaferHistoryDetActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activity_history.RCJCHistoryActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activity_history.RCJCHistoryDetActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activity_history.HealthHistoryActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".checkup.activity_history.HealthHistoryDetActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".fault.FaultUpActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".exam.ExamListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".exam.activity.LearningLeftActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".exam.activity.LearningRightActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".exam.activity.OnLineListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".exam.activity.FoundActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".exam.activity.OnLineActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".exam.activity.SimulateListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".exam.activity.SimulateActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".other.OtherListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".other.activity.ICMSActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".other.activity.SaferActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".other.activity.AdvertActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".other.activity.LostActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".exam.activity.SimulateResultActivity" />
        <activity android:name=".exam.activity.InComeRankActivity" />
        <activity android:name=".exam.activity.ClassMileageActivity" />
        <activity android:name=".exam.activity.RewardsPenaltiesActivity" />
        <activity android:name=".exam.activity.OilConsumptionActivity" />
        <activity android:name=".exam.activity.MaintainActivity" />
        <activity android:name=".exam.activity.MaintainDetailActivity" />
        <activity android:name=".exam.activity.SafeMileageActivity" />
        <activity android:name=".exam.activity.ComplaintFinesActivity" />
        <activity android:name=".exam.activity.SendNumActivity" />
        <activity android:name=".exam.activity.StartContentActivity" />
        <activity android:name=".exam.activity.StartDriverActivity" />
        <activity android:name=".exam.activity.GpsMileageActivity" />
        <activity android:name=".exam.activity.CarVehicleActivity" />
        <activity android:name=".fileapprove.activity.DocumentLZListActivity" />
        <activity
            android:name=".exam.activity.DayComparActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".exam.DayCompareHistoryActivity" />
        <activity
            android:name=".exam.DayCompareHistoryDetActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".exam.activity.ResultDetailActivity" />
        <activity android:name=".main.notice.activity.ImageBigActivity" />
        <activity android:name=".other.activity.JianZhiActivity" />
        <activity android:name=".oaflow.activity.WillDoListActivity" />
        <activity android:name=".oaflow.activity.WillDoListActivity2" />
        <activity android:name=".exam.activity.DJDepartmentActivity"/>
        <activity android:name=".exam.activity.ComparListActivity"/>
    </application>

</manifest>